<!--The content below is only a placeholder and can be replaced.-->

<div>嘴：{{lsy.zui}}</div>
<div>头：{{lsy.tou}}</div>
<div>手：{{lsy.shou}}</div>

<router-outlet></router-outlet>
<a routerLink="/mine">go to mine</a>
<a routerLink="/">go to home</a>
<a routerLink="/child">go to test</a>


<hr>

<div style="font-size: 20px;font-weight: 600;">Current Count: {{ data.count }}</div>
<div style="font-size: 20px;font-weight: 600;">Current Count: {{ data.extra }}</div>
operation:
<button (click)="calculate('+')">+</button>
<button (click)="calculate('-')">-</button>
<button (click)="calculate('reset')">reset</button>
<button (click)="calculate('set')">set</button>
